@{
    ViewBag.Title = "About";
}

<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>

        <div class="col-md-9">

            <div class="row text-center">

                <h2>Lorem</h2>

                <p>Mauris ac aliquet ante, sollicitudin.</p>
                <p>Phasellus quis ligula mi. Vestibulum.</p>
                <p>nteger rutrum vehicula efficitur.</p>

            </div>

        </div>

    </div>

</div>
