@{
    ViewBag.Title = "Activation Succesfull";
}

<link href="~/Content/login_css.css" rel="stylesheet" />

<section class="login-info">
    <div class="container">
        <div class="row main">

            <div class="form-header">
                <h1 class="text-center ">Redirecting...</h1>
            </div>

            <div class="main-content">
                <div class="text-success">
                    
                    <h2>
                        <span class="glyphicon glyphicon-ok-sign">
                        </span>Account activated.
                    </h2>

                    <hr />

                    <p class="text-justify">
                        Account activated. Now you can share your posts and comment on others' posts.
                    </p>

                </div>
            </div>

        </div>
    </div>
</section>

<script>
    $(function () {
        setTimeout(function () {
            window.location="/Home/Index"
        },5000);
    });
</script>