@using Blog.Entities

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="blog">
    <meta name="author" content="asu-tr">

    <title>@ViewBag.Title - ANH Blog</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/blog-homepage.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>

<body>

    @{ User user = null;
        if (Session["login"] != null)
        {
            user = (User)Session["login"];
        } }

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-left">
                    @if (user != null)
                    {
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                Manage
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="/Home/AddPost"><span class="glyphicon glyphicon-plus"></span>Add Post</a></li>
                                <li><a href="/Home/MyPosts"><span class="glyphicon glyphicon-th-list"></span>My Posts</a></li>
                                <li><a href="/Home/MyComments"><span class="glyphicon glyphicon-heart"></span>Comments</a></li>

                                @if (user.IsAdmin)
                                {
                                    <li class="divider"></li>
                                    <li><a href="/Category/Add"><span class="glyphicon glyphicon-plus"></span>Add Category</a></li>
                                    <li><a href="/Category/Index"><span class="glyphicon glyphicon-th-list"></span>Categories</a></li>
                                }
                            </ul>
                        </li>
                    }

                    <li>
                        <a href="/Home/Popular">
                            <span class="glyphicon glyphicon-heart"></span>
                            Popular
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-star"></span>
                            Latest
                        </a>
                    </li>
                    <li>
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-earphone"></span>
                            Contact
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    @if (user == null)
                    {
                        <li>
                            <a href="/Home/LogIn">
                                <span class="glyphicon glyphicon-heart"></span>
                                Log In
                            </a>
                        </li>

                        <li>
                            <a href="/Home/Register">
                                <span class="glyphicon glyphicon-plus"></span>
                                Sign Up
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Home/ProfileShow">
                                <span class="glyphicon glyphicon-user"></span>
                                @user.Username
                            </a>
                        </li>

                        <li>
                            <a href="/Home/LogOut">
                                <span class="glyphicon glyphicon-plane"></span>
                                Exit
                            </a>
                        </li>
                    }
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    @RenderBody()
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">

                <div class="col-lg-4">
                    <h4>Site Map</h4>
                    <p>
                        <a href="/Home/Popular">
                            <span class="glyphicon glyphicon-link"></span>
                            Popular
                        </a><br />
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-link"></span>
                            Latest
                        </a><br />
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-link"></span>
                            About
                        </a><br />
                        <a href="#">
                            <span class="glyphicon glyphicon-link"></span>
                            Contact
                        </a>
                    </p>
                </div>

                <div class="col-lg-4">
                    <h4>Copyright &copy; ANH Blog @System.DateTime.Now.Year</h4>
                </div>

                <div class="col-lg-4 text-center">
                    <h4>
                        <span class="glyphicon glyphicon-bullhorn"></span>
                        SUBSCRIBE
                    </h4>
                    <p>Subscribe to our newsletter to receive the latest updates and promotions.</p>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email" required>
                        <br />
                        <input type="submit" class="btn btn-primary" value="Subscribe">
                    </div>
                </div>

            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
